<% var rootlink = config.root %> 
<footer id="footer">
    <div class="footer-wrap">
        <div>
            © <%= theme.footer.since %> - <%- date(Date.now(), 'YYYY') %> <%= config.title %>
            @<%- config.author %>
        </div>
        <% if(theme.footer.ICP.enable){ %>
        <div>
            <a target="_blank" href="<%- theme.footer.ICP.url %>">
                <%- theme.footer.ICP.code %>
            </a>
        </div>
        <% } %>
    </div>
</footer>

<script src="<%- rootlink %>js/highlight.min.js"></script>
<script src="<%- rootlink %>js/particle.js"></script>